@charset "UTF-8";

.apl_accordion_container {	
 	overflow-y: auto;
    max-height: 500px;
}

.apl_accordion {
	cursor: pointer;
}

.apl_accordion_color {
	background-color: #efefef !important;
}

.apl_arrow:before {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: left;
    margin-right: 15px;
}

.apl_active:before {
    content: '\2212';
}

.apl_panel {
    padding: 0 20px;
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
