@charset "UTF-8";

.article {
	padding: 10px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0px 0px 3px 1px #6397ff;
	margin-bottom: 10px;
}

.article_prof_img {
	height: 48px;
    width: 48px;
    margin: 0 5px;
}

.interests_count:hover {
	cursor: pointer;
	text-decoration: underline;
}

.interested_profs_container {
	overflow-y: auto;
	max-height: 80vh;
}

.content_container {
	margin: 10px;
	word-wrap: break-word;
}

.comments_container {
    box-shadow: 0px -3px 2px -2px #cccccc;
    margin-top: 5px;
    padding-top: 5px;
}

.past_comments_container {
	margin: 5px 0;
	overflow-y: auto;
    max-height: 410px;
}

.comment {
	margin: 5px 5px 5px 15px;
	padding: 10px 10px 5px 10px;
	border: lightgray solid 1px;
	border-radius: 5px;
}

.comment_form {
	margin-top: 5px;
	padding: 0 10px;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
}

.comment_form_text {
	height: 100px;
	width: 100%;
}

.comment_prof_img {
	height: 32px;
    width: 32px;
    margin: 0 5px;
}

.articleFilesDiv{
	margin: 20px 0px 20px 0px;
	height: auto;
	width: auto;
	display: table;
}

.article_img{
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 3px;
	height: auto;
	max-width: 400px;
	object-fit: contain;
	cursor: pointer;
}

.article_vid{
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 3px;
	max-height: 400px;
	max-width: 400px;
}

.article_aud{
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 3px;
	max-height: 200px;
	max-width: 400px;
}

.custom-file {
	width: 70%;
}

