@charset "UTF-8";

ul.grid_container{
	/*display: grid;
	grid-template-columns: max-content;
	grid-gap: 10px; */
	/* border-style: solid;
	border-width: 1px;
	background: radial-gradient(#5e93ff, #3161b7, #4c87ef);
	background-size: cover;
	background-attachment: fixed;
	*/
	display: flex; /* Magic begins */
  	flex-wrap: wrap; /* Multiline */
	padding: 10px;
	list-style-type: none;
	columns: 3;
  	-webkit-columns: 3;
 	-moz-columns: 3;
}

li.grid_item{
	display: inline-block;
	flex-grow: 1;   /* Grow to fill available space */
	border-color: #0e1854;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	padding: 10px;
	margin: 5px;
	text-align: center;
	background-color: #edf3ff;
}

.grid_item:hover{
	background-color: #88c0ff;
}

.connection_requests_bar ul li{
	display: block;
	border-radius: 2px;
	border-color: #0e1854;
	border-style: solid;
	border-width: 1px;
	background-color: #edf3ff;
	padding: 10px;
}
