@charset "UTF-8";

.grid_container{
	display: flex; /* Magic begins */
  	flex-wrap: wrap; /* Multiline */
	padding: 10px;
	list-style-type: none;
	columns: 3;
  	-webkit-columns: 3;
 	-moz-columns: 3;
}

.grid_item{
	display: inline-block;
	flex-grow: 1;   /* Grow to fill available space */
	border-color: #0e1854;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	padding: 10px;
	margin: 5px;
	text-align: center;
	font-size: auto;
	background-color: #edf3ff;
}

.grid_item img{
	width: 100px; 
	height: 100px;
}

.grid_item:hover{
	background-color: #88c0ff;
}

.grid_container_mini{
	display: flex; /* Magic begins */
  	flex-wrap: wrap; /* Multiline */
	padding: 2px;
	list-style-type: none;
	columns: 3;
	-webkit-columns: 3;
 	-moz-columns: 3;
}

.grid_item_mini{
	display: inline-block;
	flex-grow: 1;   /* Grow to fill available space */
	border-color: #0e1854;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	margin: 5px;
	padding: 10px;
	height: 140px;
	width: 100px;
	font-size: auto;
	text-align: center;
	background-color: #edf3ff;
}

.grid_item_mini:hover{
	background-color: #88c0ff;
}

.grid_item_mini img{
	height: 80px;
	width: 80px;
}

.grid_item_mini a{
	color: inherit;
  	text-decoration: inherit;
}

.grid_item_mini a:hover{
	color: white;
  	text-decoration: inherit;
}

.connection_requests_bar ul li{
	display: block;
	border-radius: 2px;
	border-color: #0e1854;
	border-style: solid;
	border-width: 1px;
	background-color: #edf3ff;
	padding: 10px;
	margin-bottom: 3px;
}

.grid_container_container {	
 	overflow-y: auto;
    max-height: 400px;
}
