@charset "UTF-8";


#messanger{
	box-shadow: 0px 0px 4px 1px #6397ff;
	width: 68vw;
	height: 60vh;
	margin-left: 4vw;
	border-radius: 5px;
}

/* Conversation list */
.conversations_list{
	display: inline-block;
	/*float: left; */
    height: 60vh;
    width: 18vw;
    overflow-y: auto;
	background-color: #fbfcff;
    border-radius: 5px 0px 0px 5px;
    border-style: solid;
	border-width: 0px 2px 0px 0px;
	border-color: #162787;
    /* general: */
    font-size: 120%;
}

.conversations_list ul{
	padding: 0px;
	list-style-type: none;
}

.conversations_list ul li{
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-radius: 1px;
	border-color: #162787;
	padding: 5px;
}

.conversations_list ul li:hover{
	background-color: #b2cdff!important;
	cursor: pointer;
}

/* Conversation box */
.conversation_box{
	display: inline-block;
	float: right;
	height: 60vh;
    width: 50vw;
	background-color: #fbfcff;
	border-radius: 0px 5px 5px 0px;
}

.conversation_container{
	overflow: none;
	height: 50vh;
	width: 50vw;
	position: relative;
}

.conversation{
	padding: 10px;
	overflow-y: scroll;
	height: 50vh;
	width: 50vw;
	position: absolute;
	bottom: 0;
}

.conversation_input{
	display: inline-block;
	height: 10vh;
	width: 50vw;
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #162787;
	padding: 0.75vh;
}

#msg_input{
	width: 40vw;
	height: 8vh;
	resize: none;
}

#msg_submit{
	width: 5vw;
	display: inline-block;
	float: right;
}

.home_message{
	max-width: 32vw;
	background-color: #b2cdff;
	float: right;
	clear: both;
	padding: 10px;
	border-radius: 5px;
	
}

.away_message{
	max-width: 32vw;
	background-color: #c1c4d5;
	float: left;
	clear: both;
	padding: 10px;
	border-radius: 5px;
}

.home_timestamp{
	float: right; 
	clear: both; 
	font-size: 80%;
	margin-right: 3px;
	color: #3a3c43;
}

.away_timestamp{
	float: left; 
	clear: both; 
	font-size: 80%;
	margin-left: 3px;
	color: #3a3c43;
}

.conv_prof_img {
	height: 32px;
    width: 32px;
    margin: 0 5px;
}
