@charset "UTF-8";

.grid_container{
	display: grid;
	grid-template-columns: max-content;
	grid-gap: 10px;
	/* border-style: solid;
	border-width: 1px;
	background: radial-gradient(#5e93ff, #3161b7, #4c87ef);
	background-size: cover;
	background-attachment: fixed;
	*/
	padding: 10px;
}

.grid_item{
	display: block;
	border-style: solid;
	border-width: 2px;
	padding: 10px;
	text-align: center;
	background-color: #edf3ff;
}

.grid_container :hover{
	background-color: #88c0ff;
}


.connection_requests_bar ul{
	list-style-type: none;
	padding: 0px;
}


.connection_requests_bar ul li{
	display: block;
	border-style: solid;
	border-width: 1px;
	background-color: #edf3ff;
	padding: 10px;
}
