@charset "UTF-8";

body{
	background: radial-gradient(#5b96ff, #3161b7, #1b3a72);
	background-size: cover;
	background-attachment: fixed;
}
		
.main_container{
	background: radial-gradient(#e2ecff, #c9dcff, #afccff);
	width: 80%;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 30px 20px 30px;
	border-radius: 5px;
	box-shadow: 0px 0px 30px 3px #6397ff;
}

.my_h1 {
	color: white;
	text-align: center;
	font-size: 300%;
	text-shadow:
   	-2px -2px 0 #0e1956,
  	2px -2px 0 #0e1956,
   	-2px 2px 0 #0e1956,
   	2px 2px 0 #0e1956; 
}

.my_h2 {
	padding-left: 1px;
	border-bottom-style: solid;
	border-bottom-color: #162787;
	color: #162787;
	text-shadow: 1px 1px #0e1956;
	margin: 0px 0px 10px 0px;
}

.my_h3 {
	text-decoration: underline;
	margin: 0px 0px 5px 0px;
}

.my_h6 {
	margin: 0px 0px 5px 0px;
}


label {
	display: inline-block;
	width: 160px;
	text-align: left;
	margin-bottom: 3px;
}

.form{
	background-color: #3c74d8;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 0px #0e1956;
	color: #e5eeff;
	padding: 15px;
	margin: 16px 0px 16px 0px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	width: 430px;
	margin:0 auto;
}

.form_field {
	display: inline-block;
	width: calc(100% - 170px);		/* take up all div minus the label and the padding */
}

.pwd_form {
	width: 500px;
}

.pwd_form .form_field {
	width: calc(100% - 240px);
}

.buttonContainer {
	padding: 10px; 
	text-align: center;
	margin: 10px;
}

.ProfileOptions{
	margin: 15px;
	display: block;
	text-align: center;
}

.footer{
	display: block;
	margin-top: 30px;
	padding-top: 10px;
	color: #007bff;
	text-align: center;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: white;
	box-shadow: 0px -3px 2px -2px #6397ff;
}

.info_tab{
	margin-bottom: 20px;
}

.side_tab{
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0px 0px 3px 1px #6397ff;
	max-height: 400px;
	min-height: 100px;
	overflow-y: auto;
}

.side_tab_thumbnail {
	height: 120px;
	width: 120px;
	margin: 5px 0px 5px 0px;
}

.article_input{
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0px 0px 3px 1px #6397ff;
}

.neon_header{
	color: #ecf2ff;
	text-shadow:
   	-1px -1px 0 #6397ff,
  	1px -1px 0 #6397ff,
   	-1px 1px 0 #6397ff,
   	1px 1px 0 #6397ff; 
	padding-bottom: 10px;
	border-bottom: 1px solid #6397ff;
	box-shadow: 0px 5px 2px -2px #ecf2ff;
}

.vertical_center {
	display: flex;
    align-items: center;
}

.changeButton {
	padding: 10px;
	margin: 10px;
}

.profile_thumbnail {
	height: 200px;
	width: 200px;
	cursor: pointer;
}

.side_tab_thumbnail {
	height: 120px;
	width: 120px;
	margin: 5px 0px 5px 0px;
}

.side_tab_connection_thumbnail {
	height: 72px;
	width: 72px;
}

.homepage_file_input {
	display: inline-block;
	cursor: pointer;
	float: left;
}

.mylabel{
	display: inline-block;
	font-weight: 600;
	font-size: 110%;
	width: 220px;
	text-align: left;
	margin-bottom: 5px;
}

.CodeMirror, 
.CodeMirror-scroll {
	min-height: 200px;
}

#articleInputContainer .CodeMirror, 
#articleInputContainer .CodeMirror-scroll {
	min-height: 100px;
}

.sticky_side_container {
	top: 15px;
	z-index: unset;
}

.custom-file-label {
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.custom-file-input {
	cursor: pointer;
}

.index_upload {
    margin-left: -4px;
}

#edit_input .form-control {
    display: inline-block;
	width: calc(100% - 300px);
	margin-bottom: 5px;
}

#edit_input .custom-file {
    display: inline-block;
    width: calc(100% - 230px);
}

#edit_input .custom-file-label {
    width: calc(100% - 70px);
}

.image-recommendation-text {
	float: right;
	margin-right: 8%;
}

.side_description {		/* Chrome only - supports multiline ellipsis */
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

@-moz-document url-prefix() {		/* Firefox only */
	.side_description {
		display: inherit;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

/* add over any bootstrap changes: */
nav{
	border-style: solid; 
	border-width: 1px; 
	border-color: #b2cdff; 
	box-shadow: 0px 0px 3px 0px #6397ff;
	margin-bottom: 30px;
}

nav li a:hover{
	color: white;
	background-color: #b2cdff;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
}

nav a:active{
	color: white;
	background-color: #b2cdff;
}

nav #active_page{
	border-style: solid; 
	border-width: 1px; 
	border-color: #b2cdff;
	border-radius: 5px;
}
